@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
/*dee esta manera estoy importando una familia de*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.15s ease-in-out;
}
/*CONTENEDOR SCROLLBAR*/
::-webkit-scrollbar {
    height: 5px;
    width: 5px;
    border-radius: 5px;
}

/* FONDO BARRA SCROLL*/
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* SELECTOR */
::-webkit-scrollbar-thumb {
    background: rgb(109, 223, 185);
    ;
    border-radius: 5px;
}

/* SELECTOR hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(84, 171, 142);
    ;
}

.play {
    font-family: 'Playfair Display', sans-serif;
}

/*estilos para imagenes de fondo*/
.bnrep {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.portada{
    position: relative;
    background-image: url(../img/restauranmavi.jpg);
    background-color: rgb(110, 103, 102);
    padding: 7%;
    color: white;
    box-shadow: inset 0 0 250px rgb(0, 0, 0);
    height: 250px;
}
.norepit {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
/*para q solo se vea un vez*/

.portada .texto{
    position: absolute;
    bottom: 70px;
}

.busqueda{
    position: absolute;
    bottom: -20px;
    background-color: rgb(82, 83, 69);
    width: 86%;
    height: 60px;
    margin: auto;
    box-shadow: 0 10px 25px -15px rgba(0, 0, 0, 0.301);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    overflow: hidden;
}

.busqueda .icono{
    background-color: rgb(68, 100, 81);
    height: 60px;
    width: 60px;
    text-align: center;
    line-height: 60px;
}

.icono.material-icons-outlined{
    font-size: 24pt;

}
.busqueda input[type="search"]{
    height:100%;
    width: calc(100% - 120px);
    border: none;
    outline: none;
    padding: 0 20px;
    font-size: 12pt;
}

.busqueda input[type="submit"]{
    height: 60px;
    width: 60px;

}

.busqueda input[type="search"]:focus{
    font-size: 14pt;
}

.busqueda input[type="submit"]:active{
    font-size: 14pt;
}

.menu{
    margin-top: 20px;
    background-color: rgb(132, 165, 165);
    padding: 20px;
}

.menu ul{
    display: flex;
    justify-content: flex-start;
    overflow-x: scroll;
}
.menu ul li{
    flex: 0 0 100px;
    text-align: center;
    list-style: none;

}
.menu .a{
    color: black;
    text-decoration: none;
}
.productos{
    background-color: rgb(126, 144, 156);
    padding: 20px;
}

.restos{
    display: flex;
    flex-direction: column;
    background-color:rgb(68, 100, 81);
    align-items: center;
    padding: 10px;

}

.card{
    display: flex;
    flex: 1 0 160px;
    width: 90%;
    background-color: rgb(132, 165, 165);
  
}
.card .img{
    flex: 0 0 40%;
    background-color: aliceblue;


}
.card .datosresto{
    flex: 0 0 60%;
    background-color: rgb(172, 215, 208);


}



.menu a{
    font-family: 'Raleway';
    font-style: italic;
    color: black;
    text-decoration: none;
    text-transform: capitalize;
}

main{
    padding: 25px;
    display: flex;
   flex-direction: column;
   gap: 35px;
}
main ul{
    display: flex;
    justify-content: space-around;
}

.nav_mobile{
    position: fixed;
    background-color: aquamarine;
    bottom:0 ;
    width: 100%;
}
.nav_mobile ul{
    display: flex;
    justify-content: space-between;
}
.nav_mobile ul li{
    height: 40px;
    line-height:40px;
}
.nav_mobile ul li a{
    height: 40px;
    line-height:40px;
}
.nav_mobile a{
    text-decoration: none
    text-transform: black;
}
.nav_mobile ul li:hover{
    color: aqua;
    border-top: solid 4px aqua
}

.posrel{
    position: relative;
}
.pa{position:absolute;}


.banner button{
    left: 20px;
}
.item_menu{
    background-color: blueviolet;
}
.plato{
    background-color: rgb(19, 3, 34);
    height: 100px;
    width:100px ;
    border-radius:50% ;
}
.item_menu p{
    background-color: chartreuse;
}


.banner{
    width: 100%;
    background-color: blue;
    padding:10px ;

}
.flex{
    display: flex;

}
.centrar_vert{align-items: center;}
.centrar_h{justify-content: center;}

.valoracion{
    position:absolute;
    background-color:pink;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    bottom: 20px;
    color: brown; 
}